@model List<B2WTI.PCFTI.INFRAESTRUTURA.TRANSVERSAL.DTO.Modulo.Sistema.ViewModel.UsuarioView>
@using B2WTI.PCFTI.INFRAESTRUTURA.TRANSVERSAL.DTO.Modulo.Sistema.ViewModel;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var vdfiltro = ViewData["filtro"];
    string filtro = (vdfiltro != null) ? vdfiltro.ToString() : string.Empty;

    int resultados = (Model == null) ? 0 : Model.Count();
}
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>
                        @Html.Raw((filtro != string.Empty) ? string.Format("Resultados para a pesquisa: \" {0} \", retornou {1} registros.", filtro, resultados) :
                              (resultados > 1) ? string.Format("Todos os {0} Usuários", resultados) : (resultados == 1) ? "Um único Usuário foi localizado" :
                                  "Nenhum Usuario foi localizado")
                    </h5>
                    <div class="ibox-tools">
                        <a href="/Sistema/Usuario/Novo" class="btn btn-primary btn-xs">Criar Novo Usuário</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="list">
                        <button type="button" id="loading-example-btn" class="btn btn-white btn-sm" onclick="location.href = location.href;"><i class="fa fa-refresh"></i> Atualizar</button>
                        @if (Model != null)
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>E-mail</th>
                                        <th>Ativo?</th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (UsuarioView item in Model)
                                    {
                                        <tr>
                                            <td>@item.Nome</td>
                                            <td>@item.Email</td>
                                            <td>@Html.Raw((item.Ativo) ? "<a href=\"#\"><i class=\"fa fa-check text-navy\"></i></a>" : "")</td>
                                            <td><a href="/Sistema/Usuario/SolicitarAtivacao/@item.UsuarioId">Reenviar Ativação</a> | <a href="/Sistema/Usuario/Privilegios/@item.UsuarioId">Gerenciar Privilégios</a> | <a href="/Sistema/Usuario/Editar/@item.UsuarioId">Editar</a> | <a href="/Sistema/Usuario/Excluir/@item.UsuarioId">Excluir</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            @Html.Raw("Nenhum bloco foi cadastrado.")
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>