@using System.Web.Optimization
@using B2WTI.PCFTI.APRESENTACAO.Views.Helpers
@using System.Web.Mvc
@using System.Web.Mvc.Html
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Html.BuildTitle() [Copyright B2W Digital © 2015]</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/FontAwesome")

    @RenderSection("head", required: false)
</head>
<body>

    <div id="wrapper">

        @* Menu Side *@
        @{
            Html.RenderPartial("_MenuSide");
        }

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">

                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>

                        @if (ViewContext.RouteData.DataTokens["area"] != null && Html.ViewContext.Controller.ControllerContext.RouteData.Values["controller"] != null)
                        {
                            if (ViewContext.RouteData.DataTokens["area"].ToString().Trim() != ""
                            && Html.ViewContext.Controller.ControllerContext.RouteData.Values["controller"].ToString().ToLower() != "home"
                            && (ViewContext.RouteData.DataTokens["area"].ToString().ToLower() == "cadastro"
                            || ViewContext.RouteData.DataTokens["area"].ToString().ToLower() == "orcamento"))
                            {
                                Html.RenderPartial("_Search");
                            }
                        }
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">Seja bem-vindo(a) ao Portal PCFTI.</span>
                        </li>

                        <li>
                            <a href="">
                                <i class="fa fa-users"></i> Nome do usuário
                            </a>
                        </li>
                    </ul>

                </nav>

            </div>

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    @Html.Raw(Html.BuildBreadcrumbNavigation())
                </div>
                <div class="col-lg-2">

                </div>
            </div>

            <div class="wrapper wrapper-content animated fadeInRight">


                @RenderBody()


            </div>

            @{
                Html.RenderPartial("_Footer");
            }

        </div>
    </div>


    @Styles.Render("~/Content/css/Animate")
    @Styles.Render("~/Content/Style")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/MetisMenu")
    @Scripts.Render("~/bundles/SlimScroll")
    @Scripts.Render("~/bundles/DashboardInspinia")
    @Scripts.Render("~/bundles/EditTable")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/iniDataTableFixedColumn")

    @RenderSection("scripts", required: false)
</body>
</html>
