@{
    string _Area = string.Empty;

    if (ViewContext.RouteData.Values["area"] != null)
    { 
        _Area = ViewContext.RouteData.Values["area"].ToString();
    }  
}

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                @* Begin Sessão Módulos *@
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" width="64" height="64" src="~/img/logo.b2w.digital.png" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">B2W Digital</strong>
                            </span> <span class="text-muted text-xs block">MÓDULOS DO PCFTI <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">                        
                        <li><a href="/Orcamento">ORÇAMENTOS</a></li>
                        <li class="divider"></li>
                        <li><a href="/Cadastro">CADASTROS</a></li>
                        <li><a href="/Sistema">CONFIGURAÇÕES DO SISTEMA</a></li>
                    </ul>
                </div>
                @* End Sessão Módulos *@
                <div class="logo-element">
                    PCFTI
                </div>
            </li>
            @* Home Menu Visões *@

            @switch (_Area.ToUpper())
            {
                case "ORCAMENTO":
                    <li class="active">
                        <a href="">
                            <i class="fa fa-eye"></i> <span class="nav-label">Visões</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>@Html.ActionLink("Anual", "Anual", "Visao")</li>
                            <li>@Html.ActionLink("Semestral", "Semestral", "Visao")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            <i class="fa fa-file-text-o"></i> <span class="nav-label">Lançamentos</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>@Html.ActionLink("Painel de Lançamentos", "Index", "Lancamento")</li>
                        </ul>
                    </li>
                    break;
                case "CADASTRO":
                    <li class="active">
                        <a href="">
                            <i class="fa fa-plus-circle"></i> <span class="nav-label">Cadastros</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>@Html.ActionLink("Ano Calendário", "Index", "AnoCalendario")</li>
                            <li>@Html.ActionLink("Bloco", "Index", "Bloco")</li>
                            <li>@Html.ActionLink("Fornecedor", "Index", "Fornecedor")</li>
                            <li>@Html.ActionLink("Responsável", "Index", "Responsavel")</li>
                            <li>@Html.ActionLink("Status", "Index", "Status")</li>
                            <li>@Html.ActionLink("Tipo de Bloco", "Index", "TipoBloco")</li>
                            <li>@Html.ActionLink("Tipo de Pagamento", "Index", "TipoDePagamento")</li>
                            <li>@Html.ActionLink("Tipo de Serviço", "Index", "TipoServico")</li>
                        </ul>
                    </li>
                    break;
                case "SISTEMA":
                    <li class="active">
                        <a href="">
                            <i class="fa fa-cog"></i> <span class="nav-label">Configuração do SYS</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>@Html.ActionLink("Usuários e Permissões", "Index", "Home")</li>

                        </ul>
                    </li>
                    break;
            }


        </ul>

    </div>
</nav>